# copy to /usr/lib/systemd/system
# systemctl enable rtatten-server
[Unit]
Description=rtAttenPenn Server
After=network.target

[Service]
User=amennen
Group=amennen
WorkingDirectory=/home/amennen/code/rtAttenPenn_cloud
ExecStart=/home/amennen/code/rtAttenPenn_cloud/scripts/run-server.sh
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
